// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$light-pink: #f095b3;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #f2f2f2;
$dark: #363f42;
$black: #2d3436;

// Custom colors
$custom-beige: #e4d7c9;
$custom-beige-dark: #d9cdbf;
$custom-green: #94a346;
$custom-green-dark: #828f40;
$custom-pink: #ad5587;
$custom-gray-dark: #d9dbdb;
