#contact {
    .btn-submit {
        background-color: $custom-green;

        &:hover {
            background-color: $custom-green-dark;
            color: #f8f9fa !important;
        }

        &:active,
        &:focus {
            box-shadow: 0 0 0 0.2rem $custom-green-dark;
        }
    }

    textarea {
        min-height: 134px;
    }

    input:active,
    input:focus,
    textarea:active,
    textarea:focus {
        border-color: $custom-green;
        box-shadow: 0 0 0 0.1rem $custom-green;
    }

    /* Change Autocomplete styles in Chrome */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
}
