/* Main styles */
html,
body {
    overflow-x: hidden;
}

#app {
    font-family: $font-family-sans-serif;
    position: relative;

    #back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        right: 15px;
        opacity: 0.8;
    }

    .btn-scroll-to-top {
        display: block !important;
        transition: visibility 0s, opacity 0.5s linear;
    }

    h3.h3-decoration::after {
        content: '';
        display: block;
        width: 3rem;
        height: 0.3rem;
        margin: 0 auto;
        margin-top: 1rem;
        position: relative;
        background-color: transparent !important;
        border-bottom: 3px solid $custom-green-dark;
    }

    .bg-green h3.h3-decoration::after {
        border-bottom: 3px solid $custom-beige-dark;
    }

    .btn-prendreRDV {
        background-color: $custom-green;

        &:active,
        &:focus {
            box-shadow: none;
        }

        border: 1px solid $custom-green-dark;

        &:hover {
            background-color: $custom-green-dark;
            color: #f8f9fa !important;
        }
    }

    .accordion-icon {
        font-size: 1.4rem;
        color: $custom-green !important;
    }

    .custom-text-green {
        color: $custom-green;
    }

    .custom-text-green-dark {
        color: $custom-green-dark;
    }

    .bg-beige {
        background-color: $custom-beige;
    }

    .bg-beige-dark {
        background-color: $custom-beige-dark;
    }

    .bg-green {
        background-color: $custom-green;
    }

    .bg-footer {
        background-color: rgb(230, 204, 172);
    }
}
