nav {
    &.navbar-shrink {
        transition: background-color 0.2s linear ease-in-out;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }

    .navbar-nav {
        .underbar {
            width: 0;
            height: 5px;
            top: 40px;
            position: absolute;
            transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
        }

        li {
            cursor: pointer;

            &:hover ~ .underbar {
                background-color: #cbd3da !important;
            }

            &:nth-of-type(1):hover ~ .underbar {
                width: 89px;
            }

            &:nth-of-type(2):hover ~ .underbar {
                width: 110px;
            }

            &:nth-of-type(3):hover ~ .underbar {
                width: 42px;
            }

            &:nth-of-type(4):hover ~ .underbar {
                width: 69px;
            }

            &:nth-of-type(5):hover ~ .underbar {
                width: 78px;
            }
        }
    }

    .navbar-toggler {
        border: none;
        background: transparent !important;
        outline: none;

        &:hover {
            background: transparent !important;
        }

        .icon-bar {
            display: block;
            position: relative;
            top: -10px;
            width: 25px;
            height: 4px;
            background-color: $custom-pink;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;

            &.top-bar {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transform-origin: 24% 10%;
                -moz-transform-origin: 24% 10%;
                -o-transform-origin: 24% 10%;
                transform-origin: 24% 10%;
            }

            &.middle-bar {
                opacity: 0;
            }

            &.bottom-bar {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: 24% 90%;
                -moz-transform-origin: 24% 90%;
                -o-transform-origin: 24% 90%;
                transform-origin: 24% 90%;
            }
        }
    }

    .navbar-toggler.collapsed {
        .icon-bar {
            display: block;
            position: relative;
            top: -10px;
            width: 25px;
            height: 4px;
            margin-top: 4px;
            margin-bottom: 4px;
            background-color: $custom-pink;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        .top-bar {
            margin-bottom: 4px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        .middle-bar {
            opacity: 1;
            margin-bottom: 4px;
        }

        .bottom-bar {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}

@media (max-width: 991px) {
    .navbar-nav li {
        &:nth-of-type(1):hover ~ .underbar {
            top: 40px;
        }

        &:nth-of-type(2):hover ~ .underbar {
            top: 80px;
        }

        &:nth-of-type(3):hover ~ .underbar {
            top: 120px;
        }

        &:nth-of-type(4):hover ~ .underbar {
            top: 160px;
        }

        &:nth-of-type(5):hover ~ .underbar {
            top: 200px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-nav li {
        &:nth-of-type(1) ~ .underbar {
            left: 8px;
        }

        &:nth-of-type(2) ~ .underbar {
            left: 115px;
        }

        &:nth-of-type(3) ~ .underbar {
            left: 244px;
        }

        &:nth-of-type(4) ~ .underbar {
            left: 302px;
        }

        &:nth-of-type(5) ~ .underbar {
            left: 388px;
        }

        &:nth-of-type(1):hover ~ .underbar {
            left: 8px;
            width: 89px;
        }

        &:nth-of-type(2):hover ~ .underbar {
            left: 115px;
            width: 110px;
        }

        &:nth-of-type(3):hover ~ .underbar {
            left: 244px;
            width: 42px;
        }

        &:nth-of-type(4):hover ~ .underbar {
            left: 302px;
            width: 69px;
        }

        &:nth-of-type(5):hover ~ .underbar {
            left: 388px;
            width: 78px;
        }
    }
}
