#prestations {
    img[alt='ASCA Logo'] {
        width: 150px !important;
        margin-bottom: 10px;
    }

    button {
        box-shadow: none;

        &:focus {
            border-color: $custom-green-dark !important;
        }
    }

    .accordion-active {
        background-color: $custom-beige-dark;
        border-color: $custom-beige-dark !important;

        .accordion-text-active {
            font-weight: bold;
        }
    }
}
