[data-slideInLeft].visible,
[data-slideInLeft].invisible,
[data-slideInRight].visible,
[data-slideInRight].invisible,
[data-slideInBottom].visible,
[data-slideInBottom].invisible,
[data-slideInTop].visible,
[data-slideInTop].invisible {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease, opacity 1s ease;
}

[data-slideInLeft].invisible {
    opacity: 0;
    transform: translate(20px, 0);
}

[data-slideInRight].invisible {
    opacity: 0;
    transform: translate(-20px, 0);
}

[data-slideInBottom].invisible {
    opacity: 0;
    transform: translate(0, 20px);
}

[data-slideInTop].invisible {
    opacity: 0;
    transform: translate(0, -20px);
}
