#top {
    height: 100vh;

    .jumbotron {
        position: relative;
        background: url('/images/top/image-big.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        #title-text {
            position: absolute;
            top: 47%;
            transform: translateY(-47%);
        }

        #chevron-down {
            position: absolute;
            bottom: 0%;
            color: $white;
            animation: ChevronAnimation 3s ease infinite;
            transform: translateY(3px);
        }
    }
}

@keyframes ChevronAnimation {
    0% {
        transform: translateY(3px);
        opacity: 1;
    }

    50% {
        transform: translateY(8px);
        opacity: 0;
    }

    60% {
        transform: translateY(3px);
        opacity: 0;
    }
}
